{% extends "admin/layout.html" %}

{% block content %}
<div class="container mt-4">
  <h2>{{ baslik }}</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.slug.label(class="form-label") }}
      {{ form.slug(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.baslik.label(class="form-label") }}
      {{ form.baslik(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.aciklama.label(class="form-label") }}
      {{ form.aciklama(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.avantajlar.label(class="form-label") }}
      {{ form.avantajlar(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.kullanim_alanlari.label(class="form-label") }}
      {{ form.kullanim_alanlari(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.gorsel.label(class="form-label") }}
      {{ form.gorsel(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
  </form>
</div>
{% endblock %}
